<section class="page-header">
    <div class="overly"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="content text-center">
                    <h1 class="mb-3">{{'login.title'|transloco}}</h1>
                    <p>{{'login.security-info'|transloco}}</p>

                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb bg-transparent justify-content-center">
                            <li class="breadcrumb-item"><a routerLink="/">{{'label.home'|transloco}}</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="page-wrapper">
    <div class="checkout shopping">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 pr-5">
                    <div class="billing-details mt-5">
                        <form class="checkout-form">
                            <div class="row">
                                <div *ngIf="getScreenWidth < mobileWidth">
                                    <h4 class="mb-4">{{'login.title'|transloco}}</h4>
                                    <div class="col-lg-12">
                                        <div class="form-group mb-4">
                                            <label for="first_name">{{'personal-data.email'|transloco}}</label>
                                            <input type="email" class="form-control" [formControl]="email"
                                                placeholder="">
                                            <span *ngIf="email.hasError" class="badge badge-danger">{{getErrorMessage()|
                                                transloco}}</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group mb-4">
                                            <label for="last_name">{{'personal-data.password'|transloco}}</label>
                                            <input type="password" class="form-control" [formControl]="pwd"
                                                placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group mb-4">
                                            <button type="button" class="btn btn-main btn-small" data-dismiss="modal"
                                                (click)="login()"
                                                [disabled]="email.invalid">{{'login.button'|transloco}}</button>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col">{{'login.forgot-msg'|transloco}}{{' '}}<a
                                                    [href]="linkRecoveryPw"><b>{{'login.recovery-msg'|transloco}}</b></a>
                                            </div>
                                            <div class="col"><a
                                                    [href]="linkRegister"><b>{{'login.create-msg'|transloco}}</b></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4"></div>
                                <div *ngIf="getScreenWidth >= mobileWidth" class="col-4">
                                    <h4 class="mb-4">{{'login.title'|transloco}}</h4>
                                    <div class="col-lg-12">
                                        <div class="form-group mb-4">
                                            <label for="first_name">{{'personal-data.email'|transloco}}</label>
                                            <input type="email" class="form-control" [formControl]="email"
                                                placeholder="">
                                            <span *ngIf="email.hasError" class="badge badge-danger">{{getErrorMessage()|
                                                transloco}}</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group mb-4">
                                            <label for="last_name">{{'personal-data.password'|transloco}}</label>
                                            <input type="password" class="form-control" [formControl]="pwd"
                                                placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group mb-4">
                                            <button type="button" class="btn btn-main btn-small" data-dismiss="modal"
                                                (click)="login()"
                                                [disabled]="email.invalid">{{'login.button'|transloco}}</button>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col">{{'login.forgot-msg'|transloco}}{{' '}}<a
                                                    [href]="linkRecoveryPw"><b>{{'login.recovery-msg'|transloco}}</b></a>
                                            </div>
                                            <div class="col"><a
                                                    [href]="linkRegister"><b>{{'login.create-msg'|transloco}}</b></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>