<footer class="footer">
    <div class="container">
      <div class="row">
            <div class="col-md-6 col-lg-4 col-sm-6 mb-5 mb-lg-0 text-center text-sm-left mr-auto">
              <div class="footer-widget">
                      <h4 class="mb-4">sdxFront <small>v{{version}}</small></h4>
                      <p class="lead">Iste dolores iure quis excepturi, deserunt praesentium.</p>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-2 col-sm-6 mb-5 mb-lg-0 text-center text-sm-left">
                <div class="footer-widget">
                <h4 class="mb-4">Category</h4>
                <ul class="pl-0 list-unstyled mb-0">
                  <li><a href="#">Men's Fashion</a></li>
                  <li><a href="#">Women's Fashion</a></li>
                  <li><a href="#">Kids Fashion</a></li>
                  <li><a href="#">Accessories</a></li>
                  <li><a href="#">Shoe Collection</a></li>
                </ul>
            </div>
            </div>
  
            <div class="col-md-6 col-lg-2 col-sm-6 mb-5 mb-lg-0 text-center text-sm-left">
                 <div class="footer-widget">
                <h4 class="mb-4">Useful Link</h4>
                <ul class="pl-0 list-unstyled mb-0">
                  <li><a href="about">About Us</a></li>
                  <li><a href="contact">Contact Us</a></li>
                  <li><a href="faqs">FAQ.</a></li>
                </ul>
                    </div>
            </div>
  
            <div class="col-md-6 col-lg-3 col-sm-6 text-center text-sm-left">
                 <div class="footer-widget">
                <h4 class="mb-4">Support</h4>
                <ul class="pl-0 list-unstyled mb-5">
                  <li class="d-lg-flex justify-content-between">Seller <span> seller name if trial plan</span></li>
                  <li class="d-lg-flex justify-content-between">Location <span> North Punjab ,INDIA</span></li>
                  <li class="d-lg-flex justify-content-between">Email <span>support@email.com</span></li>
                </ul>
  
                <h5>Call Now : +(000) 000-000</h5>
              </div>
            </div>
         </div>
    </div>
  </footer>
  
  
  <div class="footer-btm py-4 ">
    <div class="container">
      <div class="row ">
             <div class="col-lg-6">
                 <p class="copyright mb-0 ">2022 @ <a href="https://softdirex.cl/">Softdirex</a>. Todos los derechos reservados</p>
             </div>
             <div class="col-lg-6">
                  <ul class="list-inline mb-0 footer-btm-links text-lg-right mt-2 mt-lg-0">
                  <li class="list-inline-item"><a routerLink="{{'/'+privacyPolicyPath}}">Privacy Policy</a></li>
                  <li class="list-inline-item"><a routerLink="{{'/'+termConditionsPath}}">Terms &amp; Conditions</a></li>
                  <li class="list-inline-item"><a routerLink="{{'/'+cookiePolicyPath}}">Cookie Policy</a></li>
                  <li class="list-inline-item"><a routerLink="{{'/'+termSalesPath}}">Terms of Sale</a></li>
                </ul>
             </div>
         </div>
    </div>
  </div>