<ngx-slick-carousel *ngIf="!loading" class="main-slider slider" [config]="slideConfig">

  <div ngxSlickItem class="slider-item" *ngFor="let slider of sliders"
    style="background-image:url('{{slider.background}}')">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
          <div class="slider-caption">
            <span class="lead">{{slider.title}}</span>
            <h1 class="mt-2 mb-5"><span
                class="text-color">{{slider.descriptionResalt}}</span>{{slider.descriptionPart2}}</h1>
            <a href={{slider.btnLink}} class="btn btn-main">{{slider.btnLabel}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</ngx-slick-carousel>

<section *ngIf="!loading" class="category section pt-3 pb-0">
  <div class="container">
    <div class="row">

      <div class="col-lg-4 col-sm-12 col-md-6" *ngFor="let deal of deals">
        <div class="cat-item mb-4 mb-lg-0">
          <img src="{{deal.image}}" alt="" class="img-fluid">
          <div class="item-info">
            <p class="mb-0">{{deal.title}}</p>
            <h4 class="mb-4">{{deal.dealtext}}</h4>

            <a href="{{deal.route}}" class="read-more">{{deal.routelabel}}</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section *ngIf="!loading" class="section products-main">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="title text-center">
          <h2>{{titlepage}}</h2>
          <p>{{descriptionpage}}</p>
          
        
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group mb-4">
          <label for="company_name">{{'label.category'|transloco}}</label>
           <select class="form-control">
             <option value="" >{{'label.select-an-option'|transloco}}</option>
             <option value="cat.name" *ngFor="let cat of categories">{{cat.name+' - '+cat.subcategory}}</option>
          </select>
       </div>
    </div>

    </div>


    <div class="row">
      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5" *ngFor="let item of itemstosale">
        <div class="product">
          <div class="product-wrap">
            <a *ngFor="let image of item.images" routerLink="/product-single/{{item.id}}">
              <img class="img-fluid w-100 mb-3 {{image.tag}}" src="{{image.image}}" alt="product-img" />
            </a>
          </div>

          <span *ngIf="item.deal" class="onsale">Sale</span>
          <div class="product-hover-overlay">
            <a href="#"><i class="tf-ion-android-cart"></i></a>
            <a href="#"><i class="tf-ion-ios-heart"></i></a>
          </div>

          <div class="product-info">
            <h2 class="product-title h5 mb-0"><a href="/product-single/{{item.id}}">{{item.name}}</a></h2>
            <span *ngIf="!item.deal" class="price">
              {{item.currency}}{{item.price}}
            </span>
            <span *ngIf="item.deal" class="price">
              <del>{{item.price}}</del>{{item.currency}}{{item.dealprice}}
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="pagination">
      <a class="page-item page-link" href="#">&laquo;</a>
      <a class="page-item page-link" href="#">1</a>
      <a class="page-item page-link" href="#">2</a>
      <a class="page-item page-link" href="#">3</a>
      <a class="page-item page-link" href="#">4</a>
      <a class="page-item page-link" href="#">5</a>
      <a class="page-item page-link" href="#">6</a>
      <a class="page-item page-link" href="#">&raquo;</a>
    </div>

  </div>
</section>
<!-- /portfolio -->

<section *ngIf="!loading && footerdeal != null" class="ads section" style="background-image:url('{{footerdeal.background}}')">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 offset-lg-6">
        <div>
          <span class="h5 deal">{{footerdeal.dealtext}}</span>
          <h2 class="mt-3 text-white">{{footerdeal.dealname}}</h2>
          <p class="text-md mt-3 text-white">{{footerdeal.dealdescription}}</p>
          <!-- syo-timer -->
          <div id="simple-timer" class="syotimer mb-5"></div>
          <a href="{{footerdeal.routelink}}" class="btn btn-main"><i
              class="ti-bag mr-2"></i>{{footerdeal.routelabel}}</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section *ngIf="loading" class="section products-main">
  <div class="container">
    <div class="row">
      <img class="img-loading" src="./assets/img/gif/loading.gif">
  </div>
  </div>
</section>