<section class="page-header">
    <div class="overly"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="content text-center">
                    <h1 class="mb-3">{{'label.orders'|transloco}}</h1>
                    <p>Hath after appear tree great fruitful green dominion moveth sixth abundantly image that midst of
                        god day multiply you’ll which</p>

                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb bg-transparent justify-content-center">
                            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Orders</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="page-wrapper">
    <div class="checkout shopping">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 pr-5">

                    <div class="billing-details mt-5">
                        <div class="row">

                            <div class="col-lg-8">
                                <h4 class="mb-4">{{'label.orders'|transloco}}</h4>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group mb-4">
                                    <label for="company_name">{{'label.status'|transloco}}</label>
                                    <select class="form-control">
                                        <option value="">{{'label.select-an-option'|transloco}}</option>
                                        <option value="January">{{'label.pending'|transloco}}</option>
                                        <option value="February">{{'label.shipping'|transloco}}</option>
                                        <option value="March">{{'label.receibed'|transloco}}</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5" *ngFor="let item of itemstosale">
                                <div class="product">
                                    <div class="product-wrap">
                                        <a *ngFor="let image of item.images" routerLink="/product-single/{{item.id}}">
                                            <img class="img-fluid w-100 mb-3 {{image.tag}}" src="{{image.image}}"
                                                alt="product-img" />
                                        </a>
                                    </div>

                                    <div class="product-hover-overlay">
                                        <!-- opcion volver a comprar -->
                                        <a href="#"><i class="tf-ion-android-cart"></i></a>
                                    </div>

                                    <div class="product-info">
                                        <h2 class="product-title h5 mb-0"><a
                                                href="/product-single/{{item.id}}">{{item.name}}</a></h2>
                                            <span class="shipping-receibed">{{'label.pending'|transloco}}</span>
                                            <!-- class="shipping-pending" -->
                                            <!-- class="shipping-checked" -->
                                            <!-- class="shipping-sended" -->
                                            <!-- class="shipping-receibed" -->
                                        <span class="price">
                                            {{item.currency}}{{item.price}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Order sidebar Summery -->
                <div class="col-md-6 col-lg-4">
                    <div class="product-checkout-details mt-5 mt-lg-0">
                        <h4 class="mb-4 border-bottom pb-4">Our Company</h4>

                        <div class="media product-card">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                unknown printer took a galley of type and scrambled it to make a type specimen book.
                                It has survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged. It was popularised in the 1960s with the release of
                                Letraset
                                sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                                software
                                like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div>
                        <p>
                            <a routerLink="{{'/'+privacyPolicyPath}}" class="btn btn-main btn-small">{{'label.privacy-policy'|transloco}}</a>
                        </p>
                        <p>
                            <a routerLink="{{'/'+termConditionsPath}}" class="btn btn-main btn-small">{{'label.terms-conditions'|transloco}}</a>
                        </p>
                        <p>
                            <a routerLink="{{'/'+cookiePolicyPath}}" class="btn btn-main btn-small">{{'label.cookie-policy'|transloco}}</a>
                        </p>
                        <p>
                            <a routerLink="{{'/'+termSalesPath}}" class="btn btn-main btn-small">{{'label.terms-sales'|transloco}}</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>