<section *ngIf="!loading" class="single-product">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <img [src]="logoUrl" class="img-fluid">
      </div>

      <div class="col-md-7">
        <div class="single-product-details mt-5 mt-lg-0">
          <h2>{{resource.name}}</h2>
          <div class="sku_wrapper mb-4">
            <span class="text-muted">{{getProductType(resource.type) | transloco}} </span>
          </div>

          <hr>

          <p class="product-description my-4 ">
            {{resource.description}}
          </p>

          <div class="products-meta mt-4">
            <div class="product-category d-flex align-items-center">
              <span class="font-weight-bold text-capitalize product-meta-title">{{ 'label.usages' | transloco}}:</span>
            </div>
            <br>
            <ul *ngFor="let item of resource.usages">
              <li>{{item.text | titlecase}}</li>
            </ul>

            <!--div class="product-share mt-5">
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a href="#"><i class="tf-ion-social-facebook"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><i class="tf-ion-social-twitter"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><i class="tf-ion-social-linkedin"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><i class="tf-ion-social-pinterest"></i></a>
                </li>
              </ul>
            </div-->
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <nav class="product-info-tabs wc-tabs mt-5 mb-5">
          <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
              aria-controls="nav-home" aria-selected="true">{{'label.benefits'|transloco}}</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
              aria-controls="nav-profile" aria-selected="false">{{'label.attachments'|transloco}}</a>
            <!--a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Reviews(2)</a-->
          </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

            <h4>{{'label.benefits'|transloco}}</h4>

            <ul *ngFor="let item of resource.benefits" class="">
              <li>{{item.text}}</li>
            </ul>

          </div>
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

            <ul *ngFor="let item of resource.attachments" class="list-unstyled">
              <li class="d-flex">
                <button (click)="pdfViewer(item.filename,item.path)"><strong>{{item.filename}}</strong></button>
              </li>
            </ul>
          </div>
          <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <!--div class="row">
            <div class="col-lg-7">
              <div class="media review-block mb-4">
                <img src="assets/images/avater-1.jpg" alt="reviewimg" class="img-fluid mr-4">
                <div class="media-body">
                  <div class="product-review">
                    <span><i class="tf-ion-android-star"></i></span>
                    <span><i class="tf-ion-android-star"></i></span>
                    <span><i class="tf-ion-android-star"></i></span>
                    <span><i class="tf-ion-android-star"></i></span>
                    <span><i class="tf-ion-android-star"></i></span>
                  </div>
                  <h6>Jhon Smith <span class="text-sm text-muted font-weight-normal ml-3">-June 23, 2019</span></h6>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum suscipit consequuntur in, perspiciatis laudantium ipsa fugit. Iure esse saepe error dolore quod.</p>
                </div>	
              </div>

              <div class="media review-block">
                <img src="assets/images/avater-2.jpg" alt="reviewimg" class="img-fluid mr-4">
                <div class="media-body">
                  <div class="product-review">
                    <span><i class="tf-ion-android-star"></i></span>
                    <span><i class="tf-ion-android-star"></i></span>
                    <span><i class="tf-ion-android-star"></i></span>
                    <span><i class="tf-ion-android-star"></i></span>
                    <span><i class="tf-ion-android-star-outline"></i></span>
                  </div>
                  <h6>Jhon Smith <span class="text-sm text-muted font-weight-normal ml-3">-June 23, 2019</span></h6>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum suscipit consequuntur in, perspiciatis laudantium ipsa fugit. Iure esse saepe error dolore quod.</p>
                </div>	
              </div>
            </div>


            <div class="col-lg-5">
              <div class="review-comment mt-5 mt-lg-0">
                <h4 class="mb-3">Add a Review</h4>

                <form action="#">
                  <div class="starrr"></div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Your Name">
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control" placeholder="Your Email">
                  </div>
                  <div class="form-group">
                    <textarea name="comment" id="comment" class="form-control" cols="30" rows="4" placeholder="Your Review"></textarea>
                  </div>

                  <a routerLink="/product-single" class="btn btn-main btn-small">Submit Review</a>
                </form>
              </div>
            </div>
          </div-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section *ngIf="!loading" class="products related-products section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="title text-center">
          <h2>{{'label.you-may-like-this'|transloco}}</h2>
          <p>{{'label.plans-desc'|transloco}}</p>
        </div>
      </div>
    </div>
    <div  class="row">
      <div *ngFor="let item of resource.plans" class="col-lg-3 col-6 py-4">
        <div class="card-body bg-light">
          {{formatType(item.type)|transloco}}
          <div class="product">
            <div class="product-wrap">
              <a routerLink="/product-single"><img class="img-fluid w-100 mb-3 img-first"
                  src="{{getPlanImage(item.category)}}" alt="product-img" /></a>
              <a routerLink="/product-single"><img class="img-fluid w-100 mb-3 img-second"
                  src="{{getPlanImage2(item.category)}}" alt="product-img" /></a>
            </div>

            <span *ngIf="item.discount_rate > 0 && item.price" class="onsale">{{ 'label.discount-rate' |
              transloco: { discount: item.discount_rate } }}</span>
            <div class="product-hover-overlay">
              <a (click)="apply(item.id)"><i class="tf-ion-android-cart"></i></a>
            </div>

            <div class="product-info">
              <h2 class="product-title h5 mb-0"><a routerLink="/product-single">{{item.name}}</a></h2>
              <span *ngIf="item.discount_rate == 0 && item.price" class="price">
                {{formatType(item.type)|transloco}}{{' '+item.currency+' '+item.price}}
              </span>

              <span *ngIf="item.discount_rate > 0 && item.price">
                {{formatType(item.type)|transloco}}{{' '}}<del>{{item.currency+' '+item.price}}</del>
              </span>
              <br>
              <span *ngIf="item.discount_rate > 0 && item.price">
                {{formatType(item.type)|transloco}}{{' '}}{{item.currency+' '}}{{getPriceDesc(item)}}
              </span>
              <br>
              <small>{{categoryPlan(item.category)|transloco}}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section *ngIf="loading" class="single-product">
  <div class="container">
    <div class="row">
      <img class="img-loading" src="./assets/img/gif/loading.gif">
    </div>
  </div>
</section>