.color-lvl1{
    background-color: rgb(255, 235, 235);
}

.color-lvl2{
    background-color: rgb(247, 235, 255);
}

.color-lvl3{
    background-color: rgb(238, 255, 237);
}

.color-lvl4{
    background-color: rgb(254, 253, 237);
}