<section class="page-header">
   <div class="overly"></div>
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-lg-6">
            <div class="content text-center">
               <h1 class="mb-3">{{'label.about-us'|transloco}}</h1>
               <nav aria-label="breadcrumb">
                  <ol class="breadcrumb bg-transparent justify-content-center">
                     <li class="breadcrumb-item"><a routerLink="/">{{'label.home'|transloco}}</a></li>
                     <li class="breadcrumb-item active" aria-current="page">{{ 'label.about-us' | transloco }}
                  </ol>
               </nav>
            </div>
         </div>
      </div>
   </div>
</section>
<div class="page-wrapper">
   <div class="checkout shopping">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 pr-5">

               <div class="billing-details mt-5">
                  <h4 class="mb-4">{{'label.about-us'|transloco}}</h4>

                  <h5>{{ownerDetail.slogan}}</h5>
                  <p>{{ownerDetail.about}}</p>
               </div>
            </div>

            <!-- Order sidebar Summery -->
            <div class="col-md-6 col-lg-4">
               <div class="product-checkout-details mt-5 mt-lg-0">
                  <h4 class="mb-4 border-bottom pb-4">{{ownerDetail.company_name}}</h4>

                  <div class="media product-card">
                  </div>

                  <label class="form-check-label" for="exampleRadios1">
                     {{'label.mission'|transloco}}
                  </label>

                  <div class="alert alert-secondary mt-3" role="alert">
                     {{ownerDetail.mission}}
                  </div>

                  <label class="form-check-label" for="exampleRadios1">
                     {{'label.vision'|transloco}}
                  </label>

                  <div class="alert alert-secondary mt-3" role="alert">
                     {{ownerDetail.vision}}
                  </div>

                  <div class="info mt-4 border-top pt-4 mb-5">
                     <a routerLink="{{PATH_TERMS}}">{{'label.privacy-policy'|transloco}}</a>.
                  </div>
                  <a routerLink="{{PATH_CONTACT}}" class="btn btn-main btn-small">{{'label.contact'|transloco}}</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>