<section class="page-header">
    <div class="overly"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="content text-center">
                    <h1 class="mb-3">{{ 'label.my-profile' | transloco }}</h1>
                    <p>{{ 'label.my-profile-desc' | transloco }}</p>

                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb bg-transparent justify-content-center">
                            <li class="breadcrumb-item"><a routerLink="/">{{'label.home'|transloco}}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ 'label.my-profile' | transloco }}
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="page-wrapper">
    <div class="checkout shopping">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 pr-5">
                    <div class="billing-details mt-5">
                        <h4 class="mb-4">{{ 'label.customer-detail' | transloco }}</h4>
                        <form class="checkout-form" [formGroup]="form">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group mb-4">
                                        <label>
                                            {{ 'label.email' | transloco }}
                                        </label>
                                        <input type="email" class="form-control" formControlName="email" readonly>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group mb-4">
                                        <label>
                                            {{ 'language.title' | transloco }}
                                        </label>
                                        <select class="form-control" formControlName="lang">
                                            <option value="{{lang.value}}" selected disabled>
                                                {{ labelSelectedLang(lang.value) | transloco }}
                                            </option>
                                            <option *ngFor="let item of langItems" [ngValue]="item.code">
                                                {{ item.label | transloco }}
                                            </option>
                                        </select>
                                        <span class="badge badge-danger">{{ getErrorMessage(lang) | transloco }}</span>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <h4>{{ 'label.personal-information' | transloco }}</h4>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group mb-4">
                                        <label>
                                            {{ 'personal-data.name' | transloco }}
                                        </label>
                                        <input type="text" class="form-control" [value]="first_name.value | nameformat"
                                            formControlName="first_name" placeholder="">
                                        <div *ngIf="first_name.errors">
                                            <span class="badge badge-danger">
                                                {{ getErrorMessage(first_name) | transloco }}
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group mb-4">
                                        <label>
                                            {{ 'personal-data.last-name' | transloco }}
                                        </label>
                                        <input type="text" class="form-control" [value]="last_name.value | nameformat"
                                            formControlName="last_name" placeholder="">
                                        <div *ngIf="last_name.errors">
                                            <span class="badge badge-danger">
                                                {{ getErrorMessage(last_name) | transloco }}
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group mb-4">
                                        <label>
                                            {{ 'personal-data.sex' | transloco }}
                                        </label>
                                        <select class="form-control" formControlName="gender">
                                            <option value="0" selected disabled>
                                                {{ 'personal-data.sex' | transloco }}
                                            </option>
                                            <option *ngFor="let item of genderTypes" value="{{ item.value }}">
                                                {{ item.name | transloco }}
                                            </option>
                                        </select>
                                        <div *ngIf="gender.errors">
                                            <span class="badge badge-danger">
                                                {{ getErrorMessage(gender) | transloco }}
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group mb-4">
                                        <label>
                                            {{ 'personal-data.birthday' | transloco }}
                                        </label>
                                        <input class="form-control datepicker" formControlName="birthday"
                                            placeholder="{{ 'personal-data.birthday' | transloco }}" name="dp"
                                             ngbDatepicker #d="ngbDatepicker" [startDate]="startYear"
                                            [minDate]="minYear" [maxDate]="maxYear" (click)="d.toggle()" type="text" />
                                        <div *ngIf="birthday.errors">
                                            <span class="badge badge-danger">
                                                {{ getErrorMessage(birthday) | transloco }}
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="form-group mb-4">
                                        <label>
                                            {{ 'personal-data.country' | transloco }}
                                        </label>
                                        <input type="text" matInput class="form-control" formControlName="country"
                                            placeholder="" [matAutocomplete]="auto" (blur)="onKeyValidatorCountry()"
                                            (keyup)="onKeyValidatorCountry()">
                                        <div *ngIf="country.errors">
                                            <span class="badge badge-danger">
                                                {{ getErrorMessage(country) | transloco }}
                                            </span>
                                        </div>
                                        <mat-autocomplete #auto="matAutocomplete">
                                            <mat-option *ngFor="let optCountry of filteredCountriesPersonalData | async"
                                                [value]="optCountry.name">
                                                {{optCountry.name}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="form-group mb-4">
                                        <label>
                                            {{ 'personal-data.city' | transloco }}
                                        </label>
                                        <input type="text" class="form-control" formControlName="city"
                                            [value]="city.value | nameformat" required placeholder="">
                                        <div *ngIf="city.errors">
                                            <span class="badge badge-danger">
                                                {{ getErrorMessage(city) | transloco }}
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group mb-4">
                                        <label>
                                            {{ 'personal-data.province' | transloco }}
                                        </label>
                                        <select class="form-control" formControlName="provinceType">
                                            <option value="0" selected disabled>
                                                {{ 'personal-data.province' | transloco }}
                                            </option>
                                            <option *ngFor="let item of provinceTypes" value="{{ item.value }}">
                                                {{ item.name | transloco }}
                                            </option>
                                        </select>
                                        <div *ngIf="provinceType.errors">
                                            <span class="badge badge-danger">
                                                {{ getErrorMessage(provinceType) | transloco }}
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group mb-4">
                                        <label>
                                            {{ provinceTypeSelected | transloco}}
                                        </label>
                                        <input class="form-control" formControlName="provinceValue" type="text"
                                            [value]="provinceValue.value | nameformat" required placeholder="">
                                        <div *ngIf="provinceValue.errors">
                                            <span class="badge badge-danger">
                                                {{ getErrorMessage(provinceValue) | transloco }}
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group mb-4">
                                        <label>
                                            {{ 'personal-data.address' | transloco }}
                                        </label>
                                        <input class="form-control" formControlName="address" type="text"
                                            [value]="address.value | nameformat" required placeholder="">
                                        <div *ngIf="address.errors">
                                            <span class="badge badge-danger">
                                                {{ getErrorMessage(address) | transloco }}
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <h4>
                                        {{ 'label.contact-information' | transloco }}
                                    </h4>
                                </div>

                                <!-- BEGIN - Contact data -->
                                <div class="card-header border-0">
                                    <form [formGroup]="cdForm">
                                        <div class="row">
                                            <div *ngIf="getScreenWidth >= mobileWidth" class="col-12 text-center">
                                                <div class="row">
                                                    <div class="col-4">
                                                        <select class="form-control-sm" formControlName="cdField">
                                                            <option value="" selected disabled>
                                                                {{ 'label.select-contact-data' | transloco }}...
                                                            </option>
                                                            <option *ngFor="let item of contactTypeInSelect"
                                                                value="{{ item.field }}">
                                                                {{ item.label | transloco}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                    <div class="col-4">
                                                        <input type="text" formControlName="cdValue"
                                                            class="form-control-sm form-control-alternative">
                                                    </div>
                                                    <div class="col-4">
                                                        <button class="btn btn-sm btn-default" (click)="applyCDForm()"
                                                            [disabled]="cdForm.invalid">
                                                            {{ 'label.add' | transloco }}
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="getScreenWidth < mobileWidth" class="col-12 text-center">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <select class="form-control-sm" formControlName="cdField">
                                                            <option value="" selected disabled>
                                                                {{ 'label.select-contact-data' | transloco }}...
                                                            </option>
                                                            <option *ngFor="let item of contactTypeInSelect"
                                                                value="{{ item.field }}">
                                                                {{ item.label | transloco}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <input type="text" formControlName="cdValue"
                                                            class="form-control-sm form-control-alternative">
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <button class="btn btn-sm btn-default" (click)="applyCDForm()"
                                                            [disabled]="cdForm.invalid">
                                                            {{ 'label.add' | transloco }}
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div *ngFor="let item of contactTypeInSelect">
                                                <div *ngIf="item.enabled" class="col-12">
                                                    <div class="alert alert-default alert-dismissible fade show"
                                                        role="alert">
                                                        <span class="alert-inner--text">
                                                            <strong>
                                                                <small>
                                                                    {{ item.label | transloco }}
                                                                </small>
                                                            </strong>
                                                            {{ item.value }}
                                                        </span>
                                                        <button type="button" class="close" data-dismiss="alert"
                                                            aria-label="Close" (click)="removeCDFormField(item.field)">
                                                            <span aria-hidden="true">×</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- END - Contact data -->

                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group mb-4">
                                                <button type="button" class="btn btn-main btn-small"
                                                    [disabled]="form.invalid" (click)="submit()">
                                                    {{ 'label.save' | transloco }}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>