<section class="page-header">
    <div class="overly"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="content text-center">
                    <h1 class="mb-3">{{ 'label.welcome' | transloco }}</h1>
                    <p>{{ 'label.page-register-desc' | transloco }}</p>

                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb bg-transparent justify-content-center">
                            <li class="breadcrumb-item"><a routerLink="/">{{'label.home'|transloco}}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ 'register.title' | transloco }}
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="page-wrapper">
    <div class="checkout shopping">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 pr-5">

                    <div *ngIf="currentStep==STEP_DOCUMENT_DATA" class="billing-details mt-5">
                        <h4 class="mb-4">{{ 'register.title' | transloco }}</h4>
                        <form class="checkout-form" [formGroup]="fDocumentData">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group mb-4">
                                        <label>{{ 'personal-data.document-type' | transloco }}</label>
                                        <select class="form-control" formControlName="docType">
                                            <option value="" selected disabled>{{ 'personal-data.document-type' |
                                                transloco }}</option>
                                            <option *ngFor="let item of documentDataTypes" value="{{ item.value }}">
                                                {{ item.name | transloco }}
                                            </option>
                                        </select>
                                        <div *ngIf="docType.hasError">
                                            <span class="badge badge-danger">{{ getErrorMessage(docType) | transloco
                                                }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group mb-4">
                                        <label>{{ 'personal-data.document-value' | transloco }}</label>
                                        <input type="text" class="form-control" formControlName="docValue"
                                            [value]="transformRut()" placeholder="">
                                        <div *ngIf="docValue.hasError">
                                            <span class="badge badge-danger">{{ getErrorMessage(docValue) | transloco
                                                }}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group mb-4">
                                        <label>{{ 'personal-data.country' | transloco }}</label>
                                        <input type="text" matInput class="form-control" formControlName="docCountry"
                                            placeholder="" [matAutocomplete]="auto" (blur)="onKeyValidatorCountry1()"
                                            (keyup)="onKeyValidatorCountry1()">
                                        <div *ngIf="docCountry.hasError">
                                            <span class="badge badge-danger">{{ getErrorMessage(docCountry) | transloco
                                                }}</span>
                                        </div>
                                        <mat-autocomplete #auto="matAutocomplete">
                                            <mat-option *ngFor="let optCountry of filteredCountriesDocumentData | async"
                                                [value]="optCountry.name">
                                                {{optCountry.name}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group mb-4">
                                                <button type="button" class="btn btn-main btn-small" (click)="toStep2()"
                                                    [disabled]="fDocumentData.invalid">
                                                    {{ 'label.next' | transloco }}</button>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group mb-4">
                                                <button type="button" class="btn btn-danger btn-small"
                                                    (click)="cancelAll()">
                                                    {{ 'label.cancel' | transloco }}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col"><a [href]="loginPath"><b>{{ 'register.haveaccount-msg' | transloco }}</b></a></div>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>

                    <div *ngIf="currentStep==STEP_REGISTER" class="billing-details mt-5">
                        <h4 class="mb-4">{{ 'label.hello-name' | transloco: { name: getCustomerName() } }}</h4>
                        <small>
                            {{ 'register.personal-data-exists' | transloco }}
                          </small>
                          <div class="col-lg-12">
                            <div class="row">
                                <div *ngIf="totalCustomers > 0" class="col">
                                    <div class="form-group mb-4">
                                        <button type="button" class="btn btn-main btn-small" (click)="goLogin()">
                                            {{ 'label.enter' | transloco }}</button>
                                    </div>
                                </div>
                                <div *ngIf="totalCustomers == 0" class="col">
                                    <div class="form-group mb-4">
                                        <button type="button" class="btn btn-main btn-small"
                                            (click)="goStep(STEP_CUSTOMER)">
                                            {{ 'register.create-user' | transloco }}</button>
                                    </div>
                                </div>

                                <div *ngIf="totalCustomers > 0" class="col">
                                    <div class="form-group mb-4">
                                        <button type="button" class="btn btn-main btn-small" (click)="goStep(STEP_CUSTOMER)">
                                            {{ 'register.create-other-user' | transloco }}</button>
                                    </div>
                                </div>
                                <div *ngIf="totalCustomers == 0" class="col">
                                    <div class="form-group mb-4">
                                        <button type="button" class="btn btn-main btn-small"
                                        (click)="goStep(STEP_DOCUMENT_DATA)">
                                        {{ 'label.go-back' | transloco }}</button>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col"><a [href]="loginPath"><b>{{ 'register.haveaccount-msg' | transloco }}</b></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="currentStep==STEP_REGISTER" class="billing-details mt-5">
                        <h4 class="mb-4">{{ 'register.title' | transloco }}</h4>
                        <form class="checkout-form" [formGroup]="fDocumentData">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group mb-4">
                                        <select class="form-control" formControlName="docType">
                                            <option value="" selected disabled>{{ 'personal-data.document-type' |
                                                transloco }}</option>
                                            <option *ngFor="let item of documentDataTypes" value="{{ item.value }}">
                                                {{ item.name | transloco }}
                                            </option>
                                        </select>
                                    </div>
                                    <div *ngIf="docType.hasError">
                                        <span class="badge badge-danger">{{ getErrorMessage(docType) | transloco
                                            }}</span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group mb-4">
                                        <label for="last_name">Document</label>
                                        <input type="text" class="form-control" id="last_name" placeholder="">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group mb-4">
                                        <label for="first_name">First Name</label>
                                        <input type="text" class="form-control" id="first_name" placeholder="">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group mb-4">
                                        <label for="last_name">Last Name</label>
                                        <input type="text" class="form-control" id="last_name" placeholder="">
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="form-group mb-4">
                                        <label for="first_name">Phone </label>
                                        <input type="text" class="form-control" id="phone" placeholder="">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group mb-4">
                                        <label for="first_name">Email address </label>
                                        <input type="text" class="form-control" id="email" placeholder="">
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="form-group mb-4">
                                        <label for="first_name">My address </label>
                                        <input type="text" class="form-control" id="email" placeholder="">
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group mb-4">
                                        <label for="first_name">City </label>
                                        <input type="text" class="form-control" id="email" placeholder="">
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group mb-4">
                                        <label for="first_name">Province </label>
                                        <input type="text" class="form-control" id="email" placeholder="">
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group mb-4">
                                        <label for="first_name">Country </label>
                                        <input type="text" class="form-control" id="email" placeholder="">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group mb-4">
                                        <label for="last_name">Gender</label>
                                        <input type="text" class="form-control" id="last_name" placeholder="">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group mb-4">
                                        <label for="last_name">Birthday</label>
                                        <input type="text" class="form-control" id="last_name" placeholder="">
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="form-group mb-4">
                                        <button type="button" class="btn btn-main btn-small"
                                            data-dismiss="modal">Update</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>


                <!-- Order sidebar Summery -->
                <div class="col-md-6 col-lg-4">
                    <div class="product-checkout-details mt-5 mt-lg-0">
                        <h4 class="mb-4 border-bottom pb-4">Our Company</h4>

                        <div class="media product-card">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                unknown printer took a galley of type and scrambled it to make a type specimen book.
                                It has survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged. It was popularised in the 1960s with the release of
                                Letraset
                                sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                                software
                                like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div>
                        <p>
                            <a routerLink="/terms/privacy-policy" class="btn btn-main btn-small">Privacy Policy</a>
                        </p>
                        <p>
                            <a routerLink="/terms/conditions-terms" class="btn btn-main btn-small">Terms &
                                Conditions</a>
                        </p>
                        <p>
                            <a routerLink="/terms/cookie-policy" class="btn btn-main btn-small">Cookie Policy</a>
                        </p>
                        <p>
                            <a routerLink="/terms/sales-terms" class="btn btn-main btn-small">Terms of Sale</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>