<div class="modal-header">
    <h4 class="modal-title">Seleccione el tamaño de la etiqueta</h4>
</div>
<div class="modal-body" *ngIf="!loading">
    <h4>{{product.name}}</h4>
    <div class="row">
        <div class="col-6">
            <label for="sizeSelect">Seleccione un tamaño:</label>
        </div>
        <div class="col-6">
            <select id="sizeSelect" class="form-control" [(ngModel)]="sizeSelectValue">
                <option *ngFor="let size of sizes" [value]="size.value">{{ size.name }}</option>
            </select>
        </div>
    </div>
</div>
<div class="modal-footer" *ngIf="!loading">
    <div *ngIf="errorMessage" class="col-12">
        <h6 class="alert-warning text-center">{{errorMessage}}</h6>
    </div>
    <button type="button" class="btn btn-secondary" (click)="cancel()">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="onSelect()">Seleccionar</button>
</div>
<div *ngIf="loading" class="modal-body">
    <h5 class="text-center">Imprimiendo...</h5>
    <img class="img-loading" src="./assets/img/gif/loading.gif">
</div>