<section class="page-header">
    <div class="overly"></div> 	
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="content text-center">
            <h1 class="mb-3">{{'label.checkout'|transloco}}</h1>
            <p>Hath after appear tree great fruitful green dominion moveth sixth abundantly image that midst of god day multiply you’ll which</p>
  
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent justify-content-center">
              <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Checkout</li>
            </ol>
          </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="page-wrapper">
     <div class="checkout shopping">
        <div class="container">
           <div class="row">
              <div class="col-lg-8 pr-5">
                <div class="coupon-notice " data-toggle="modal" data-target="#coupon-modal">
                     <div class="bg-light p-3">
                         Have a coupon? <a routerLink="/checkout" class="showcoupon" >Click here to enter your code</a>
                     </div>
                 </div>
  
                 <div class="billing-details mt-5">
                    <h4 class="mb-4">{{'label.billing-details'|transloco}}</h4>
                    <form class="checkout-form">
                       <div class="row">
                          <div class="col-lg-6">
                              <div class="form-group mb-4">
                                <label for="first_name">Nombre</label>
                                <input type="text" class="form-control" id="first_name" placeholder="">
                             </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="form-group mb-4">
                                <label for="last_name">Apellido</label>
                                <input type="text" class="form-control" id="last_name" placeholder="">
                             </div>
                          </div>
  
                          <div class="col-lg-12">
                              <div class="form-group mb-4">
                                <label for="company_name">País</label>
                                 <select class="form-control">
                                   <option value="">Seleccione una opcion</option>
                                   <option value="January">Chile</option>
                                   <option value="February">Argentina</option>
                                   <option value="March">Peru</option>
                                </select>
                             </div>
                          </div>
  
                          <div class="col-lg-12">
                              <div class="form-group mb-4">
                                <label for="first_name">Dirección</label>
                                <input type="text" class="form-control" id="street" placeholder="">
                             </div>
                          </div>
                           <div class="col-lg-12">
                              <div class="form-group mb-4">
                                <label for="first_name">Departamento, casa, etc (optional)</label>
                                <input type="text" class="form-control" id="apartment" placeholder="Casa">
                             </div>
                          </div>
  
                           <div class="col-lg-12">
                              <div class="form-group mb-4">
                                <label for="first_name">Ciudad </label>
                                <input type="text" class="form-control" id="city" placeholder="Ciudad">
                             </div>
                          </div>
  
                          <div class="col-lg-12">
                              <div class="form-group mb-4">
                                <label for="company_name">Comuna </label>
                                 <select class="form-control">
                                   <option value="">Seleccione una opción</option>
                                   <option value="January">January</option>
                                   <option value="February">February</option>
                                   <option value="March">March</option>
                                   <option value="April">April</option>
                                   <option value="May">May</option>
                                   <option value="June">June</option>
                                   <option value="July">July</option>
                                   <option value="August">August</option>
                                   <option value="September">September</option>
                                   <option value="October">October</option>
                                   <option value="November">November</option>
                                   <option value="December">December</option>
                                </select>
                             </div>
                          </div>
                          
                           <div class="col-lg-12">
                              <div class="form-group mb-4">
                                <label for="first_name">Teléfono </label>
                                <input type="text" class="form-control" id="phone" placeholder="">
                             </div>
                          </div>
                          <div class="col-lg-12">
                              <div class="form-group mb-4">
                                <label for="first_name">Email  </label>
                                <input type="text" class="form-control" id="email" placeholder="">
                             </div>
                          </div>
  
                          <div class="col-lg-12">
                           <div class="form-check mb-4">
                              <input type="checkbox" class="form-check-input" id="exampleCheck1">
                              <label class="form-check-label" for="exampleCheck1">Crear una cuenta?</label>
                            </div>
                          </div>
                          <div class="col-lg-12">
                              <div class="form-group mb-4">
                                <label for="first_name">Nota adicional (optional)</label>
                                <textarea class="form-control" id="msg" cols="30" rows="5" placeholder="Notas sobre la orden"></textarea>
                             </div>
                          </div>
                       </div>
                    </form>
                 </div>
              </div>
  
              <!-- Order sidebar Summery -->
              <div class="col-md-6 col-lg-4">
                 <div class="product-checkout-details mt-5 mt-lg-0">
                       <h4 class="mb-4 border-bottom pb-4">Resumen</h4>
  
                       <div class="media product-card">
                           <p>Kirby Shirt</p>
                          <div class="media-body text-right">
                             <p class="h5">1 x $249</p>
                          </div>
                       </div>
  
                       <ul class="summary-prices list-unstyled mb-4">
                          <li class="d-flex justify-content-between">
                             <span >Subtotal:</span>
                             <span class="h5">$190</span>
                          </li>
                          <li class="d-flex justify-content-between">
                             <span >Envío:</span>
                             <span class="h5">Free</span>
                          </li>
                          <li class="d-flex justify-content-between">
                             <span>Total</span>
                             <span class="h5">$250</span>
                          </li>
                       </ul>
  
                       <form action="#">
                          <div class="form-check mb-3">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                              Transferecnia directa 
                            </label>
  
                            <div class="alert alert-secondary mt-3" role="alert">
                              Realice su pago directamente en nuestra cuenta bancaria. Utilice su ID de pedido como referencia de pago. Su pedido no será enviado hasta que los fondos se hayan liquidado en nuestra cuenta.
                             </div>
                          </div>
  
                          <div class="form-check mb-3">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                            <label class="form-check-label" for="exampleRadios2">
                               Pago web
                            </label>
                          </div>
  
                           <div class="form-check mb-3">
                              <input type="checkbox" class="form-check-input" id="exampleCheck3">
                              <label class="form-check-label" for="exampleCheck3">He leído y acepto los términos y condiciones del sitio web *</label>
                            </div>
                       </form>
  
                       <div class="info mt-4 border-top pt-4 mb-5">
                        Sus datos personales se utilizarán para procesar su pedido, respaldar su experiencia en este sitio web y para otros fines descritos en nuestras <a href="#">políticas de privacidad</a>.
                       </div>
                       <a routerLink="/checkout" class="btn btn-main btn-small">{{'label.place-order'|transloco}}</a>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
  
  
     <!-- Modal -->
     <div class="modal fade" id="coupon-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
           <div class="modal-content py-5">
              <div class="modal-body">
                 <form>
                    <div class="form-group">
                       <input class="form-control" type="text" placeholder="Enter Coupon Code">
                    </div>
                    <button type="button" class="btn btn-main btn-small" data-dismiss="modal">Apply Coupon</button>
                 </form>
              </div>
           </div>
        </div>
     </div>